@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...

.gameSquare {
  height: 72px;
  width: 72px;
  margin: 2px;
  float: left;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  &.dark {
      color: white;
  }

  .x-item-selected & {
      outline: 3px solid rgba(0,175,0,0.75);
      color: rgb(0,175,0);
      &.dark {
          color: rgb(0,255,0);
      }
  }

}

.board {
  background: url("/resources/images/board.jpg");
}

.up_left:before {
    content: '';
    background: url("/resources/images/up_left.png");
    height: 32px;
    width: 32px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: 1000;
}

.up_right:before {
    content: '';
    background: url("/resources/images/up_right.png");
    height: 32px;
    width: 32px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -16px;
    right: -16px;
    z-index: 1000;
}

.down_left:before {
    content: '';
    background: url("/resources/images/down_left.png");
    height: 32px;
    width: 32px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -16px;
    left: -16px;
    z-index: 1000;
}
.down_right:before {
    content: '';
    background: url("/resources/images/down_right.png");
    height: 32px;
    width: 32px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -16px;
    right: -16px;
    z-index: 1000;
}
.removed:after {
    content: '';
    background: url("/resources/images/removed.png");
    height: 72px;
    width: 72px;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1001;
}